<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.load('current', {'packages':['bar']});
        google.charts.load('current', {'packages':['table']});

        google.charts.setOnLoadCallback(drawVisualization);
        google.charts.setOnLoadCallback(drawDonutChart);
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawTable);
        google.charts.setOnLoadCallback(drawOrdersTable);

        function drawVisualization() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Месяц');
            data.addColumn('number', 'Выручка');
            data.addColumn('number', 'Комиссия');
            data.addColumn('number', '%');
            data.addRows(/*[[${amountchart}]]*/);

            var options = {
                title : 'Выручка, комиссия и % комиссии',
                legend: { position: 'bottom' },
                vAxis: {title: 'руб.'},
                hAxis: {title: 'Месяц'},
                seriesType: 'bars',
                series: {2: {type: 'line', targetAxisIndex:1}},
                vAxes: {
                    1: {
                        title:'%',
                        textStyle: {color: 'black'}
                    }
                },
                isStacked: true
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

        function drawDonutChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Наименование');
            data.addColumn('number', 'руб.');
            data.addRows(/*[[${itemschart}]]*/);


            var options = {
                title: 'Топ товаров по наименованиям, руб.',
                pieHole: 0.4,
                backgroundColor: '#9d9d9d'
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));

            chart.draw(data, options);
        }

        function drawTable() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Месяц');
            data.addColumn('number', 'Выручка');
            data.addColumn('number', 'Комиссия');
            data.addColumn('number', '%');
            data.addRows(/*[[${amountchart}]]*/);

            var table = new google.visualization.Table(document.getElementById('table_div'));

            table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
        }

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Бренд');
            data.addColumn('number', 'руб.');
            data.addRows(/*[[${brandschart}]]*/);


            var options = {
                title: 'Продажи по брендам, руб.',
                backgroundColor: '#9d9d9d'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>
</head>

<style type="text/css">
    .tg  {border-collapse:collapse;border-color:#93a1a1;border-spacing:0;}
    .tg td{background-color:#fdf6e3;border-color:#93a1a1;border-style:solid;border-width:1px;color:#002b36;
        font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 8px;word-break:normal;}
    .tg th{background-color:#657b83;border-color:#93a1a1;border-style:solid;border-width:1px;color:#fdf6e3;
        font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 8px;word-break:normal;}
    .tg .tg-mpz2{background-color:#fdf6e3;border-color:#93a1a1;color:#002b36;text-align:left;vertical-align:top}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}

    th, td {
        padding: 10px;
    }
</style>


<body>
    <table class="columns">
        <tr>
            <td><div id="chart_div" style="width: 1200px; height: 500px"></div></td>
        </tr>
    </table>

    <table style="width: 1200px; height: 200px">
        <tr>
            <td>
                <div id="donutchart" style="width: 400px; height: 200px"></div>
            </td>
            <td>
                <div id="table_div" style="width: 400px; height: 200px"></div>
            </td>
            <td>
                <div id="piechart" style="width: 400px; height: 200px"></div>
            </td>
        </tr>
    </table>

    <table style="width: 1200px; height: 250px; text-align: center; font-family:Arial, sans-serif; font-size:30px;
    background-color:#b4d798;">
        <tr>
            <th style="border: 10px solid; border-color: #f0f0f0">Продажи</th>
            <th style="border: 10px solid; border-color: #f0f0f0">Выкупы</th>
            <th style="border: 10px solid; border-color: #f0f0f0">Возвраты</th>
        </tr>
        <tr>
            <td style="border: 10px solid; border-color: #f0f0f0"
                th:text="${#numbers.formatDecimal(singleOverallStat.salesSum, 1, 'WHITESPACE', 0, 'COMMA') + ' руб. / ' +
                singleOverallStat.salesQuantity + ' шт.'}"></td>
            <td style="border: 10px solid; border-color: #f0f0f0"
                th:text="${#numbers.formatDecimal(singleOverallStat.buyoutPctInQnt, 1, 'WHITESPACE', 2, 'COMMA') + ' %'}"></td>
            <td style="border: 10px solid; border-color: #f0f0f0"
                th:text="${#numbers.formatDecimal(singleOverallStat.returnsPctQnt, 1, 'WHITESPACE', 2, 'COMMA') + ' %'}"></td>
        </tr>
    </table>

    <table style="width: 1200px; height: 500px">
    <tr>
        <td>
            <table class="tg" style="width: 750px; height: 500px">
                <thead>
                <tr>
                    <th class="tg-mpz2"></th>
                    <th class="tg-0pky" colspan="2">Заказы</th>
                    <th class="tg-0pky" colspan="2">Продажи</th>
                    <th class="tg-0pky" colspan="2">Возвраты</th>
                    <th class="tg-0pky">К выплате</th>
                    <th class="tg-0pky">Подробно</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="d : ${orsales}">
                    <td class="tg-0pky" th:text="${d.date}">16-01-2023</td>
                    <td class="tg-0pky" th:text="${d.orders.ordersQuantity}">10</td>
                    <td class="tg-0pky" th:text="${#numbers.formatDecimal(d.orders.ordersSum, 1, 'WHITESPACE', 2, 'COMMA')}">1135,12</td>
                    <td class="tg-0pky" th:text="${d.sales.salesQuantity}">5</td>
                    <td class="tg-0pky" th:text="${#numbers.formatDecimal(d.sales.salesSum, 1, 'WHITESPACE', 2, 'COMMA')}">5</td>
                    <td class="tg-0pky" th:text="${d.returns.returnsQuantity}">5</td>
                    <td class="tg-0pky" th:text="${#numbers.formatDecimal(d.returns.returnSum, 1, 'WHITESPACE', 2, 'COMMA')}">5</td>
                    <td class="tg-0pky" th:text="${#numbers.formatDecimal(d.forPay, 1, 'WHITESPACE', 2, 'COMMA')}">1112,3</td>
                    <td>
                        <a href="details.html" th:href="@{/analytics/daily/details(date=${d.date})}">View</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>
            <table class="tg" style="width: 450px; height: 500px">
                <thead>
                <tr>
                    <th class="tg-0pky">Нераспонанные товары (штрих-коды)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="b: ${barcodes}">
                    <td class="tg-0pky" th:text="${b}">barcode</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </table>
</body>
</html>